.icon {
  height: 30px;
  pointer-events: none;
}

.players {
  display: flex;
  gap: var(--spacing-lg);
  width: 50%;
}

.players > div {
  border: 3px solid var(--text-color-primary);
  border-radius: var(--radius-sm);
  padding: var(--spacing-sm);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}
.players > div > h2 {
  font-family: 'Courier New', Courier, monospace;
}

.players > div.select {
  cursor: pointer;
}

.players > div.active {
  outline: 3px solid var(--highlight-color);
}
