@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200;400;500;600;700;800;900&family=Rubik+Doodle+Shadow&display=swap');
:root {
  /* COLORS */
  --bg-color-primary: #2e294e;
  --text-color-primary: #eadeda;
  --highlight-color: #ffd400;

  /* Spacings */
  --spacing-xl: 50px;
  --spacing-lg: 30px;
  --spacing-md: 20px;
  --spacing-sm: 10px;
  --spacing-xs: 5px;

  /* Border Radius */
  --radius-sm: 5px;
  --radius-md: 15px;
  --radius-lg: 20px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes underline-animation {
  0% {
    width: 0;
    left: 50%;
  }
  100% {
    width: 100%;
    left: 0;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: 'Montserrat Alternates', sans-serif;
  color: var(--text-color-primary);
  background-color: var(--bg-color-primary);
  height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#app {
  font-family: 'Rubik Doodle Shadow', sans-serif;
  font-size: 2rem;
  width: 100%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 50px;
}

a {
  cursor: pointer;
}
