#board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  background-color: var(--highlight-color);
  width: 450px;
  max-width: 100%;
  aspect-ratio: 1;
}

.cell {
  background-color: var(--bg-color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
}
