.space-invader {
  position: absolute;
  height: 40px;
  z-index: -1;
}

.welcome-text {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 80px;
  text-shadow: 0 0 20px var(--text-color-primary), 0 0 30px #ffd400,
    0 0 40px #ffd400, 0 0 50px #ffd400, 0 0 60px #ffd400;
}

@media screen and (max-width: 600px) {
  .welcome-text {
    font-size: 60px;
  }
}
