#rpsls {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
  font-family: 'Montserrat Alternates', sans-serif;
  justify-content: center;
}

#rpsls > div > h2 {
  text-align: start;
  font-family: 'Courier New', Courier, monospace;
  font-size: 36px;
}
/* TODO: REVISAR!!! */
/* #rpsls > div > div {
  display: flex;
  gap: var(--spacing-md);
  justify-content: center;
}

#rpsls .jugador .icon {
  cursor: pointer;
  height: fit-content;
  border: none;
  position: relative;
}
#rpsls .jugador .icon:hover {
  border-bottom: 5px solid #ffffff;
}
#rpsls .jugador .icon::after {
  content: '';
  position: absolute;
  width: 0px;
  height: 5px;
  left: 50%;
  bottom: 0;
  background-color: white;
  transition: all ease-in-out 0.2s;
}
#rpsls .jugador .icon:hover::after {
  width: 100%;
  left: 0;
} */

#rpsls article > div {
  font-size: 24px;
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
  text-align: justify;
}
#rpsls article img {
  max-height: 200px;
}

#rpsls article h3 {
  border-bottom: 1px solid var(--text-color-primary);
  margin-top: var(--spacing-lg);
  margin-bottom: var(--spacing-md);
}
