#rpsls {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
  font-family: 'Montserrat Alternates', sans-serif;
  justify-content: center;
}

#rpsls > div > h2 {
  text-align: start;
  font-family: 'Courier New', Courier, monospace;
  font-size: 36px;
}

#rpsls > div > div {
  display: flex;
  gap: var(--spacing-md);
  justify-content: center;
}

#rpsls .jugador .icon {
  cursor: pointer;
}

#rpsls article > div {
  font-size: 24px;
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
  text-align: justify;
}
#rpsls article img {
  max-height: 200px;
}

#rpsls article h3 {
  border-bottom: 1px solid var(--text-color-primary);
  margin-top: var(--spacing-lg);
  margin-bottom: var(--spacing-md);
}
