header nav ul {
  display: flex;
  justify-content: space-evenly;
  padding: var(--spacing-lg);
  gap: var(--spacing-md);
  font-size: 30px;
  font-weight: 600;
}

header nav ul li {
  cursor: pointer;
  text-align: center;
}

@media screen and (max-width: 600px) {
  header nav ul {
    font-size: 20px;
  }
}
