.icon {
  height: 30px;
  pointer-events: none;
}

.players {
  display: flex;
  gap: var(--spacing-lg);
}

.players > div {
  border: 3px solid var(--text-color-primary);
  border-radius: var(--radius-sm);
  padding: var(--spacing-sm);
  display: flex;
  align-items: center;
}

.players > div.select {
  cursor: pointer;
}

.players > div.active {
  outline: 3px solid var(--highlight-color);
}
